body {
  background-color: #262d40;
  color: white;
  font-family: "Noto Sans Mono", monospace;
}
.active {
  color: rgb(158, 158, 158) !important;
}
h1 {
  font-size: 52px;
}
h5 {
  color: #979797;
  font-size: 17px;
}
.nav-link,
.navbar-brand {
  color: white;
}
.nav-link:hover {
  color: rgb(217, 217, 217);
}

/* footer */
.footer-contact-link {
  background-color: #576177;
  border-radius: 30px;
  padding: 20px 0px 20px 30px;
  max-width: 70%;
  margin: 0 auto;
}
.footer-contact-link h5 {
  display: inline;
}
.col-cont-btn {
  padding-top: 40px;
}
.col-cont-text {
  padding-left: 40px;
}
.contact-btn {
  text-decoration: none;
  color: #262d40;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px 45px;
  transition: all 200ms ease-in-out;
}
.contact-btn:hover {
  background-color: #262d40;
  color: aliceblue;
}

.social-links {
  padding-top: 100px;
  padding-bottom: 40px;
}
#footer-learn {
  font-size: 38px;
}

#experience-header {
  font-size: 24px;
}
.education-header {
  font-size: 24px;
  font-weight: bold;
}
.download-btn {
  float: center;
  margin-bottom: 0px;
  text-decoration: none;
  font-weight: bold;
  color: #262d40;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px 45px;
  transition: all 200ms ease-in-out;
}
.download-btn:hover {
  background-color: #576177;
  color: aliceblue;
}
.resume-container {
  background-color: aliceblue;
  color: #262d40;
  border-radius: 30px;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}
.about-cv-cont {
  padding-top: 20px;
  margin-left: 30px;
}
/* Home page */
.about-header {
  margin: 7% 0 0 5%;
}
@media (max-width: 700px) {
  .about-header {
    margin: 10% 0 0 10%;
  }
  .home-my-photo i {
    height: 40px;
  }
}
@media (max-width: 1200px) {
  .col-cont-btn {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
  }
  .about-cv-cont {
    margin-left: 30px;
  }
}
@media (max-width: 450px) {
  .col-cont-btn {
    padding-left: 0px;
  }
  .col-cont-text {
    padding-left: 0px;
  }
  .col-cont-text h1 {
    font-size: 48px;
  }
}
.home-my-photo i {
  margin: 18%;
  color: transparent;
}
#home-header-h1 {
  font-size: 48px;
  margin-bottom: 60px;
  text-align: center;
}
.home-projects p {
  font-size: 20px;
}
.home-projects h3 {
  font-size: 28px;
  padding-bottom: 10px;
}

.work-header {
  margin-top: 6%;
  margin-bottom: 5%;
  margin-left: 10px;
}
.hero-img {
  z-index: -10;
  position: absolute;
  left: 0px;
  top: 100px;
  width: 100%;
  max-height: 700px;
}
/* Contact page */
.cont-contact {
  margin-top: 10%;
  text-align: center;
}
.cont-contact h1 {
  margin-bottom: 6%;
}
.contact-links {
  margin: 0px 15% 0px 15%;
  padding: 20px 0px 20px 0px;
  background-color: #576177;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.contact-links a {
  color: #262d40;
}
.contact-links a:hover {
  color: #384057;
}
