body {
  background-color: #262d40;
  color: white;
  font-family: "Noto Sans Mono", monospace;
}
.about-abstract-img {
  height: 800px;
  width: 100%;
}

h1 {
  font-size: 52px;
}
h5 {
  color: #979797;
  font-size: 17px;
}
.nav-link,
.navbar-brand {
  color: white;
}
.nav-link:hover {
  color: rgb(217, 217, 217);
}

.about-header {
  margin: 10% 0 0 10%;
}

.work-header {
  margin-top: 6%;
  margin-bottom: 5%;
  margin-left: 10px;
}
.hero-img {
  z-index: -10;
  position: absolute;
  left: 0px;
  top: 100px;
  width: 100%;
  max-height: 800px;
}
.cont-contact {
  margin-top: 10%;
  text-align: center;
}
.cont-contact h1 {
  margin-bottom: 6%;
}
.contact-links {
  margin: 0px 15% 0px 15%;
  padding: 20px 0px 20px 0px;
  background-color: #576177;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.contact-links a {
  color: #262d40;
}
.contact-links a:hover {
  color: #384057;
}
@media (max-width: 500px) {
  .hero-img {
    top: 40%;
  }
}
